%h1 Listing holidays

%table
  %tr
    %th Name
    %th Day
    %th Duty starts
    %th Duty ends
    %th
    %th
    %th

  - @holidays.each do |holiday|
    %tr
      %td= holiday.name
      %td= holiday.day
      %td= holiday.duty_starts
      %td= holiday.duty_ends
      %td= link_to 'Show', holiday
      %td= link_to 'Edit', edit_holiday_path(holiday)
      %td= link_to 'Destroy', holiday, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Holiday', new_holiday_path
