= header_for_index @duties

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Time
      %th Name
      %th Actions
  %tbody
    - @duties.each do |duty|
      %tr
        %td= link_to_show(duty)
        %td= duty.times_str
        %td
          - if duty.users.empty?
            Unassigned
          - else
            = duty.users.map { |user| user.name }.join(", ")
        %td
          = link_to_edit(duty)
          = link_to_delete(duty)
