= render "shared/new", model: @duty

- dates = 1.month.ago.to_date..Date.today
%table.table.table-striped
  %thead
    %th Date
    %th Duties
    %th Actions
  %tbody
    - dates.each do |date|
      %tr
        %td= date.strftime("%d/%m/%Y %A")
        %td
          = @duties.select { |duty| duty.day == date }
        %td
          = simple_form_for @duty do |f|
            = f.input :day, as: :hidden, input_html: { value: date }
            = f.input :starts, as: :hidden, input_html: { value: time(19) }
            = f.input :ends, as: :hidden, input_html: { value: time(7) }
            = f.submit "Create 19:00-23:30", class: "btn btn-primary btn-mini"
          = simple_form_for @duty do |f|
            = f.input :day, as: :hidden, input_html: { value: date }
            = f.input :starts, as: :hidden, input_html: { value: time(12) }
            = f.input :ends, as: :hidden, input_html: { value: time(7) }
            = f.submit "Create 12:00-07:00", class: "btn btn-primary btn-mini"
          = simple_form_for @duty do |f|
            = f.input :day, as: :hidden, input_html: { value: date }
            = f.input :starts, as: :hidden, input_html: { value: time(8) }
            = f.input :ends, as: :hidden, input_html: { value: time(17) }
            = f.submit "Create 08:00-17:00", class: "btn btn-primary btn-mini"
          = simple_form_for @duty do |f|
            = f.input :day, as: :hidden, input_html: { value: date }
            = f.input :starts, as: :hidden, input_html: { value: time(17) }
            = f.input :ends, as: :hidden, input_html: { value: time(7) }
            = f.submit "Create 17:00-07:00", class: "btn btn-primary btn-mini"




