- content_for :actionbar do
  - if can? :edit, Duty
    %li= link_to "Edit", edit_rotum_duty_path(@rotum, @duty), class: 'btn btn-primary'
  - if can? :delete, Duty
    %li= link_to "Destroy", rotum_duty_path(@rotum, @duty), method: "delete", confirm: 'Are you sure?', class: 'btn btn-danger'
    %li.dropdown
      %a.dropdown-toggle{ href: '#', data: { toggle: "dropdown" } }
        Add Preference
        %strong.caret
      %ul.dropdown-menu
        - @users.each do |user|
          - preference = @duty.preferences.where(user_id: user.id).first
          - if preference.present?
            %li= button_to user.name, preference_path(preference), class: 'btn btn-danger', method: :delete
          - else
            %li= button_to user.name, preferences_path(preference: { duty_id: @duty, user_id: user }), class: 'btn btn-success'
    %li.dropdown
      %a.dropdown-toggle{ href: '#', data: { toggle: "dropdown" } }
        Assign User
        %strong.caret
      %ul.dropdown-menu
        - @users.each do |user|
          - user_ids = [*@duty.users]
          - if user_ids.delete(user)
            %li= button_to user.name, rotum_duty_path(@rotum, @duty, duty: { user_ids: user_ids }), method: :put, class: 'btn btn-danger'
          - else
            - user_ids << user
            %li= button_to user.name, rotum_duty_path(@rotum, @duty, duty: { user_ids: user_ids }), method: :put, class: 'btn btn-success'

.page-header
  %h1= @duty.day_str

%p
  %strong Users
  %br
  = @duty.user_names

%p
  %strong Preferences
  %br
  = @duty.preferences_user_names
