- content_for :actionbar do
  - if can? :create, User
    %li= link_to "New User", new_user_path, class: 'btn btn-primary'
  - if can? :destroy, User
    = filter_dropdown_for(User, :archived)

.page-header
  %h1= "People"
  - if filtered?
    %em
      = "Filtered by #{filters}."
      = link_to "Remove filters", users_path

- if @users.empty?
  %p No people to display
- else
  %table.table.table-striped.datatable
    %thead
      %tr
        %th Name
        %th Email
        %th Mobile
        %th Extension
        %th Residence
        %th Responsibilities
        - if can? :manage, User
          %th Username
          %th Roles
          %th Sign in count
          %th Current sign in
          %th Last sign in
          %th Actions
    %tbody
      - @users.each do |user|
        %tr
          %td= user.name
          %td= user.email
          %td= user.mobile
          %td= user.extension
          %td= user.residence
          %td= user.responsibilites
          - if can? :manage, User
            %td= user.username
            %td= user.role_names
            %td= user.sign_in_count
            %td= user.current_sign_in
            %td= user.last_sign_in
            %td
              = link_to "Edit", edit_user_path(user), class: 'btn btn-mini'
              - if user.deleted?
                = link_to "Revive", revive_user_path(user), method: :put, class: 'btn btn-mini btn-success'
              - else
                = link_to "Archive", user_path(user), method: :delete, class: 'btn btn-mini btn-danger'
