= simple_form_for(event) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :day
    = f.input :duty_starts
    = f.input :duty_ends

  .form-actions
    = f.button :submit
