%h1 Listing Events

%table
  %tr
    %th Name
    %th Day
    %th Duty starts
    %th Duty ends
    %th
    %th
    %th

  - @events.each do |event|
    %tr
      %td= event.name
      %td= event.day
      %td= event.duty_starts
      %td= event.duty_ends
      %td= link_to 'Show', event
      %td= link_to 'Edit', edit_event_path(event)
      %td= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Event', new_event_path
