%p#notice= notice

%p
  %b Name:
  = @event.name
%p
  %b Day:
  = @event.day
%p
  %b Duty starts:
  = @event.duty_starts
%p
  %b Duty ends:
  = @event.duty_ends

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
