- if user_signed_in?
  %ul.thumbnails
    - if can? :read, Rotum
      %li.span4
        .thumbnail
          .caption
            %h2 Duty Rota
            - if can? :take_duties, Rotum
              - if current_user.next_duty.present?
                %p
                  Your next duty is on
                  %strong= current_user.next_duty.day_str
              - else
                %p You don't have any upcoming duties!
              %p You can add preferences by checking the rota
          %p.center.well
            = link_to "Check the Rota", rotum_duties_path(:current), class: 'btn'
    - if can? :read, User
      %li.span4
        .thumbnail
          .caption
            %h2 Contacts
            %p
              %strong Security
              %span.pull-right 01179287484
            %p
              %strong Duty
              %span.pull-right 07748768430
            %p
              %strong Overnight
              %span.pull-right 07824561522
          %p.center.well
            = link_to "View All Contacts", contacts_path, class: 'btn'
- else
  %h1 Welcome to the Manor Hall Administration Website
  %p This website provides a number of administrative functions for Manor Hall staff.
  :markdown
    If you are a member of staff, please #{link_to 'sign in', new_user_session_path}.

    Otherwise, the main Manor website can be found #{link_to 'here', 'http://www.bristol.ac.uk/manor/'}.

