= simple_form_for(rotum) do |f|
  .form-inputs
    = f.input :starts
    = f.input :ends, default: Date.today.at_end_of_month
  .form-actions
    = f.button :submit, class: 'btn-primary'
    = link_to_index(rotum)
