- if current_user.can_create? Rotum
  - content_for :actionbar do
    = link_to 'New Rotum', new_rotum_path, class: 'btn btn-primary'

= header_for_index(Rotum)

%table.table.table-striped
  %tr
    %th Name
    - if current_user.can? Rotum, :update, :delete
      %th Actions

  - @rota.each do |rotum|
    %tr
      %td= link_to_show rotum
      - if current_user.can? Rotum, :update, :delete
        %td
          = link_to_edit rotum
          = link_to_destroy rotum
