- content_for :actionbar do
  - if can? :create, Rotum
    %li= link_to 'New Rotum', new_rotum_path, class: 'btn btn-primary'

= header_for_index(Rotum)

%table.table.table-striped
  %tr
    %th Name
    - if can? :manage, Rotum
      %th.manage Actions

  - @rota.each do |rotum|
    %tr
      %td= link_to rotum, rotum_duties_path(rotum)
      - if can? :manage, Rotum
        %td.actions
          = link_to_edit rotum
          = link_to_destroy rotum
