- if current_user.can?(Rotum, :update, :delete)
  - content_for :actionbar do
    - if current_user.can_update? Rotum
      - if @rotum.assigned?
        - if @rotum.published?
          %li= link_to "Unpublish", unpublish_rotum_path(@rotum), method: :put, class: "btn btn-primary"
        - else
          %li= link_to "Publish", publish_rotum_path(@rotum), method: :put, class: "btn btn-primary"
        %li= link_to "Unassign Duties", unassign_rotum_path(@rotum), method: :put, confirm: "Are you sure?", class: "btn btn-warning"
      - else
        %li= link_to "Assign Duties", assign_rotum_path(@rotum), method: :put, class: "btn btn-primary"
    - if current_user.can_delete? Rotum
      %li= link_to_destroy(@rotum)

- content_for :infobar do
  %li
    Click
    %strong Add Preference
    to request that a duty is not assigned to you or to let other senior residents know that you can't do a duty already assigned to you
  %li.divider
  %li.alert-success.alert
    %strong Green:
    This duty has been assigned to you
  %li.divider
  %li.alert-error.alert
    %strong Red:
    You've asked not to do this duty but it's been assigned to you anyway (Sorry!)
  %li.divider
  %li.alert
    %strong Orange:
    Another Senior Resident has asked not to do this duty but it's been assigned to them anyway. Help them out by offering to swap!

.center
  = header_for_show(@rotum)
  %h2.nav
    = link_to_if @rotum.previous.present?, "<<", @rotum.previous
    = link_to_unless current_page?(rotum_path("current")), "Current", rotum_path("current")
    = link_to_if @rotum.next.present?, ">>", @rotum.next

- if current_user.can? Rotum, :update, :delete
  %h3 Duties / Preferences Summary
  %table.table.table-striped
    %thead
      %tr
        %th Name
        - Date::DAYNAMES.each do |day|
          %th= day
        %th Total
        %th Weighted Total
    %tbody
      - @users.each do |user|
        %tr
          %td= user.name
          - Date::DAYNAMES.each do |day|
            - duty_count = user.duties.select do |duty|
              - Date::DAYNAMES[duty.day.wday] == day
            - end.size
            - preference_count = user.preferences.select do |preference|
              - Date::DAYNAMES[preference.duty.day.wday] == day
            - end.size
            %td= "#{duty_count} / #{preference_count}"
          %td= "#{user.duties.size} / #{user.preferences.size}"
          %td= user.duty_weight

%table.table
  %thead
    %tr
      %th.right Date
      %th Time
      %th Name
      - if current_user.can?(Rotum, :update, :delete)
        %th Preferences
      - if current_user.has_role?(:admin) || current_user.can?(Preference, :create, :delete)
        %th.actions Actions
  %tbody
    - @rotum.duties.each do |duty|
      - if current_user.can?(Preference, :create, :delete)
        - preference = current_user.find_preference_by_duty duty
      - assigned = duty.users.select { |user| user  == current_user }
      - other_conflict = duty.users.select { |user| user.find_preference_by_duty(duty) }
      - klass = ''
      - if @rotum.published? || current_user.has_role?(:dw)
        - if assigned.present? && preference.present?
          - klass = 'alert alert-error'
        - elsif assigned.present?
          - klass = 'alert alert-success'
        - elsif other_conflict.present?
          - klass = 'alert'
      %tr{ class: klass }
        %td.right= duty.day_str
        %td= duty.times_str
        - if duty.users.empty? || (!@rotum.published? && !current_user.has_role?(:dw))
          %td Unassigned
        - else
          %td= duty.users.map { |user| user.name }.join(", ")
        - if current_user.can?(Rotum, :update, :delete)
          - preferences = duty.preferences
          - if preferences.empty?
            %td None
          - else
            %td= preferences.map { |p| p.user.name }.join(", ")
        - if current_user.has_role?(:admin)
          %td.actions
            = simple_form_for Preference.new do |f|
              = f.association :duty, as: :hidden, input_html: { value: duty.id }
              = f.association :user, input_html: { value: current_user.id }
              = f.submit "Add Preference", class: 'btn btn-mini btn-primary'
        - else
          - if preference.present?
            %td.actions
              = link_to_destroy(preference, "Remove Preference")
          - elsif current_user.can_create?(Preference)
            %td.actions
              = simple_form_for Preference.new do |f|
                = f.association :user, as: :hidden, input_html: { value: current_user.id }
                = f.association :duty, as: :hidden, input_html: { value: duty.id }
                = f.submit "Add Preference", class: 'btn btn-mini btn-primary'
